<section id="hero" class="hero-section">
  <video src="../../../assets/videos/header_background_video.mp4" loop autoplay muted playsinline preload="auto">
  </video>
</section>



<div class="main-content">
  <div class="hero-content">
    <h1 class="firsttext">Hi I’m </h1>
    <h1 class="name"><span>Ayesha Parween</span></h1>
    <h1 class="role">{{displayText}}</h1>
    <p class="popins">I create engaging digital experiences and connect audiences with brands I believe in.</p>
    <button class="cta-button mb-4" (click)="routeTo('portfolio')">See My Work</button>
    <button class="cta-button" (click)="routeTo('services')">Get Started</button>
    <div style="display: flex;justify-content: space-between;padding: 2px;margin-top: 15px;">
      <div class="experience">
        <p class="kalam" id="years" style="padding: 0;margin: 0;font-size: 35px;">{{years}}+</p>
        <p style="padding: 0;margin: 0;">Years of experince</p>
      </div>
      <div>
        <p class="kalam" id="projects" style="padding: 0;margin: 0;font-size: 35px;">{{projects}}+</p>
        <p style="padding: 0;margin: 0;">Project Done</p>
      </div>
      <div>
        <p class="kalam" id="clients" style="padding: 0;margin: 0;font-size: 35px;">{{clients }}+</p>
        <p style="padding: 0;margin: 0;">Happy Client</p>
      </div>
    </div>

  </div>
  <div class="e-lottie__container">
    <div class="e-lottie__animation">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 1500" width="550" height="550"
        preserveAspectRatio="xMidYMid meet">
        <defs>
          <clipPath id="__lottie_element_2">
            <rect width="1500" height="1500" x="0" y="0"></rect>
          </clipPath>
          <linearGradient id="__lottie_element_6" spreadMethod="pad" gradientUnits="userSpaceOnUse"
            x1="-247.10899353027344" y1="-374.218994140625" x2="455.6090087890625" y2="340.81201171875">
            <!-- Updated gradient stop colors here -->
            <stop offset="7.66%" stop-color="#E2F476"></stop> <!-- Start color -->
            <stop offset="100%" stop-color="#3EBA79"></stop> <!-- End color -->
          </linearGradient>
        </defs>
        <g clip-path="url(#__lottie_element_2)">
          <g transform="matrix(1,0,0,1,750,750)" opacity="1" style="display: block;">
            <g opacity="1" transform="matrix(1,0,0,1,0,0)">
              <path fill="url(#__lottie_element_6)" fill-opacity="1"
                d=" M56.803775787353516,-562.2586059570312 C-43.5357780456543,-561.0049438476562 -152.77288818359375,-486.6016540527344 -249.89642333984375,-399.65570068359375 C-392.505615234375,-303.82574462890625 -514.341064453125,-122.17168426513672 -505.94525146484375,40.471107482910156 C-496.2305908203125,216.32363891601562 -347.6844787597656,451.84539794921875 -146.8114013671875,493.642578125 C-49.6318359375,515.2228393554688 73.37403106689453,470.02911376953125 175.68450927734375,441.3901062011719 C304.6103210449219,405.5181884765625 457.9786376953125,311.4071960449219 506.8546447753906,228.4462127685547 C582.8546142578125,99.44620513916016 497.326904296875,-15.404011726379395 444.083251953125,-174.1599578857422 C381.13397216796875,-318.5939025878906 281.99859619140625,-566.16162109375 56.803775787353516,-562.2586059570312z">
              </path>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <p class="e-lottie__caption"></p>
    <div class="hero-img">
      <img src="../../../assets/images/hero-img.png" alt="">
    </div>
  </div>
</div>



<div class="shapeimg" style="position: relative;display: flex;align-items: center;justify-content: center;">
  <img src="assets/images/shape2-cropped.svg" alt="" style="width:180px;margin-top: 15px;">
  <img src="assets/images/hero-img1.png" alt="" style="width: 250px;position: absolute;top: 0%;
    left: 16%;">
</div>



<!-- <section class="mt-5 content-category-section">
  <h1 class="popins" style="text-align: center;">Featured Content Categories</h1>


  <div class="content-section">
    <div class="content-box">
        <h2 class="category-title">Digital Marketing Insights</h2>
        <p class="category-description">
            Dive into the latest trends and strategies in digital marketing, where you'll find expert tips on SEO, social media, and content creation. Whether you're a beginner or a seasoned professional, these insights will help you stay ahead in the ever-evolving world of online marketing, equipping you with actionable ideas to boost engagement and grow your online presence.
        </p>
    </div>

    <div class="content-box">
        <h2 class="category-title">Affiliate Product Reviews</h2>
        <p class="category-description">
            Explore our curated selection of in-depth product reviews, tailored to help you make informed purchasing decisions. From tech gadgets to lifestyle essentials, we break down the pros, cons, and value for money, so you can confidently choose products that suit your needs, while also discovering the best affiliate deals to earn commissions effortlessly.
        </p>
    </div>
</div>
</section> -->

<!-- <section class="mt-5 container resp-instruction" style="padding: 25px;">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="popins" style="font-size: 45px;font-weight: 600;">We’ve Been Builiding Our Experience <span
          class="kalam">Since 2019</span></h1>
    </div>
    <div class="col-sm-6">
      <p class="popins">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore
        magna
        aliqua.
      </p>
    </div>
  </div>
</section> -->

<div class="partners-section mt-5">
  <h3 class="partners-heading popins">
    Proud Marketing <span class="highlight">Partners</span> With
  </h3>

  <div class="logos-container mt-4">
    <img src="../../../assets/images/google.webp" alt="Google" class="partner-logo">
    <img src="../../../assets/images/amazon.png" alt="Amazon" class="partner-logo">
    <img src="../../../assets/images/airnb.png" alt="Airbnb" class="partner-logo">
    <img src="../../../assets/images/spotify.png" alt="Spotify" class="partner-logo">
    <img src="../../../assets/images/intrax.png" alt="Intrax" class="partner-logo">
    <img src="../../../assets/images/noxis.png" alt="Noxis" class="partner-logo">
  </div>
</div>



<section id="about" class="container about-section mt-5">
  <div class="row">
    <div class="col-sm-6">
      <div class="cirlce">
        <img src="../../../assets/images/wow2.png" alt="" style="width: 450px;position: absolute;top: -20%;">
        <div class="circle2">

        </div>
        <div class="white-space-resp"
          style="position: absolute;height: 4vh;bottom: 0%;width: 100%;background-color: #fff;">

        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-4">
      <div style="padding: 0 15px;">
        <p style="color: #ff9900;font-weight: 600;" class="popins">ABOUT ME</p>
        <p style="font-size: 17px;font-weight: 600;" class="popins">More Than 5+ Years Of Experienced in Affiliate
          Marketing and Digital
          Creator </p>

        <p style="color: #777777;font-weight: 300;font-size: 13px;" class="popins">Lorem ipsum dolor sit amet
          consectetur
          adipisicing elit. Similique repellat voluptates excepturi amet
          consequatur voluptatem corrupti consequuntur sint accusamus exercitationem.</p>

        <div class="info mt-3">
          <div class="contct" style="display: flex;align-items: center;justify-content: space-between;">
            <p style="margin: 0;font-weight: bold;font-size: 13px;" class="popins">Name: &nbsp;&nbsp;<span
                style="font-weight: 500;font-size: 14px;">Ayesha Parween</span></p>
            <p style="margin: 0;font-weight: bold;font-size: 13px;" class="popins">Location: &nbsp;&nbsp;<span
                style="font-weight: 500;font-size: 14px;">Hyderabad 500028</span></p>
          </div>
          <div class="contct" style="display: flex;align-items: center;justify-content: space-evenly;margin-top: 12px;">
            <p style="margin: 0;font-weight: bold;font-size: 13px;" class="popins">Email: &nbsp;&nbsp;<span
                style="font-weight: 500;font-size: 14px;">danish&#64;bizmobia.com</span></p>
            <p style="margin: 0;font-weight: bold;font-size: 13px;" class="popins">Office: &nbsp;&nbsp;<span
                style="font-weight: 500;font-size: 14px;">Mehdipatnam</span></p>
          </div>


          <div class="mt-4 digi-contact" style="display: flex;align-items: center;justify-content: space-between;">
            <button class="popins" style="background-color: #124229;
          color: #fff;
          padding: 9px 15px;
          border: none;
          font-size: 14px;
          font-weight: 300;
          border-radius: 4px;">Download CV</button>
            <div style="height: 2px;width: 50px;background-color: #124229;"></div>
            <p class="popins" style="font-weight: 500;color: #000;font-size: 14px;margin: 0;">Follow me</p>

            <div class="social-link" style="display: flex;align-items: center;gap: 40px;">
              <a href="https://www.instagram.com/quran.icvibes/" target="_blank">
                <i class="fi fi-brands-facebook"></i>
              </a>
              <a href="https://www.instagram.com/quran.icvibes/" target="_blank">
                <i class="fi fi-brands-instagram" style="color: #F56040;"></i>
              </a>
              <a href="https://wa.me/919905913040" target="_blank">
                <i class="fi fi-brands-whatsapp" style="color:#25D366"></i>
              </a>
              <a href="https://t.me/danish31hy" target="_blank">
                <i class="fi fi-brands-telegram" style="color:#229ED9"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="white-space" style="position: absolute;height: 22vh;bottom: 0%;width: 100%;background-color: #fff;">

  </div>
</section>


<section style="background-color: #ffffff;">
  <section class="intro">
    <div class="row">
      <div class="col-sm-6 col1">
        <h6 class="plex">INTRODUCING</h6>

        <h2 class="heading-title questrial">
          Your favorite content creator & Affiliate Marketer.
        </h2>

        <p class="description">
          Tellus curae quis nec non nisl sem tincidunt adipiscing viverra. Faucibus ullamcorper bibendum tempus netus
          sapien ipsum. Senectus lectus enim rhoncus laoreet nibh magna quam neque.
        </p>


        <div class="disc-btn">
          <button>Discover more <i class="fi fi-rr-arrow-small-right"></i></button>
        </div>
      </div>
      <div class="col-sm-6 col2">

        <div class="shape-container">
          <!-- <img src="../../../assets/images/shape4.svg" alt="" style="height: 600px;width: 650px;"> -->
          <div style="display: flex;justify-content: center;">
            <img src="https://kitnew.moxcreative.com/fleu/wp-content/uploads/sites/13/2022/11/img_3.png" alt=""
              style="max-width: 100%;">
          </div>
        </div>
      </div>
    </div>
  </section>



  <div class="content-section mt-5">
    <div class="container my-5">
      <div class="row align-items-center">

        <!-- Left Section: Text Content -->
        <div class="col-lg-6 col-md-12 mb-4 success-container">
          <div style="padding: 25px 0 0;">
            <h2 class="font-weight-bold">Our Commitment to Your Success</h2>
            <p class="popins" style="font-size: 16px;margin-top: 25px;">Welcome to BrokR! We are dedicated to
              revolutionizing the way you find and compare brokers.
              Our mission is to provide you.</p>
            <ul class="nav">
              <li class="nav-item popins" (click)="selectTab('mission')" [class.active]="selectedTab === 'mission'">
                <a class="nav-link">Our Mission</a>
              </li>
              <li class="nav-item popins" (click)="selectTab('vision')" [class.active]="selectedTab === 'vision'">
                <a class="nav-link">Our Vision</a>
              </li>
            </ul>

            <div class="tab-content">
              <div *ngIf="selectedTab === 'mission'">
                <p class="popins">At BrokR, our mision is to become the leading resource for investors seeking
                  trustworthy
                  and detailed broker comparisons.</p>
              </div>
              <div *ngIf="selectedTab === 'vision'">
                <p class="popins">At BrokR, our vision is to become the leading resource for investors seeking
                  trustworthy
                  and detailed broker comparisons.</p>
              </div>
            </div>

            <div class="tab-content my-3">
              <div id="mission" class="tab-pane active">
                <p class="popins" style="font-size: 15px;margin-top: 20px;">At BrokR, our mission is to become the
                  leading
                  resource for investors seeking trustworthy
                  and detailed
                  broker comparisons.</p>
              </div>
              <div id="vision" class="tab-pane fade">
                <p>Our vision is to empower investors with clear and reliable broker insights globally.</p>
              </div>
            </div>
            <ul class="list-unstyled">
              <li><img src="https://brokrnuxt.softivuslab.com/images/check-yellow.png" alt=""> Comprehensive
                Comparisons
              </li>
              <li><img src="https://brokrnuxt.softivuslab.com/images/check-yellow.png" alt=""> Unbiased Reviews</li>
              <li><img src="https://brokrnuxt.softivuslab.com/images/check-yellow.png" alt=""> Community Support</li>
            </ul>
          </div>
        </div>

        <!-- Right Section: Image & Stats -->
        <div class="col-lg-6 col-md-12">
          <div class="row">
            <div class="col-sm-6">
              <img class="m1" src="https://brokrnuxt.softivuslab.com/images/home-three-commitment-1.png" alt=""
                style="width: 100%;">

              <div class="broker-group mt-5">
                <div class="avatars">
                  <img class="avatar" *ngFor="let avatar of avatars" [src]="avatar" alt="Avatar">
                  <div class="circle"><i class="bi bi-plus" style="font-size: 22px;color: #000;"></i></div>
                </div>
                <div class="add-broker">

                  <div class="info">
                    <span class="count">20k</span>
                    <span class="label">Brokers</span>
                  </div>
                </div>
              </div>


            </div>
            <div class="col-sm-6 experience-container">
              <div class="row">
                <div class="col-6">
                  <div style="background-color: #FDAD00;text-align: center;padding:15px 4px 1px;">
                    <h2 style="font-weight: 700;font-size: 36px;">5+</h2>
                    <p style="font-size: 14px;font-weight: 500;">Years of experience</p>
                  </div>

                </div>
                <div class="col-6">
                  <div style="background-color: #2FA75F;text-align: center;padding: 15px 4px 1px;">
                    <h2 style="font-weight: 700;font-size: 36px;color: #fff;">1.2k</h2>
                    <p style="font-size: 14px;font-weight: 500;color: #fff;">Happy Customers</p>
                  </div>
                </div>
              </div>
              <div class="mt-3">
                <img src="https://brokrnuxt.softivuslab.com/images/home-three-commitment-2.png" alt=""
                  style="width: 100%;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>



  <div class="investors-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img src="https://brokrnuxt.softivuslab.com/_nuxt/empower-one.D9Iy1dv4.png" alt=""
            style="width: 100%;height: auto;">
        </div>
        <div class="col-sm-8 pt-4">
          <h2 class="empower-title">Empowering Investors with Reliable Broker Information</h2>
          <div class="row mt-4">
            <div class="col-sm-4">
              <img src="https://brokrnuxt.softivuslab.com/_nuxt/empower-two.Dc8_qRkl.png" alt=""
                style="max-width: 100%;height: auto;">
            </div>
            <div class="col-sm-8">
              <p class="popins" style="color: #fff;font-size: 13px;font-weight: 300;padding-top: 20px;">
                Welcome to BrokR! We're dedicated to helping you find the perfect broker to meet your financial goals.
                Our
                mission is to provide you with comprehensive, unbiased comparisons of brokerage services, making your
                search effortless and efficient.
              </p>

              <div style="display: flex;align-items: center;padding-top: 30px;">
                <div style="border-right: 1px dashed #ffcc00;padding-right: 20px;">
                  <p class="popins" style="color: #fff;margin: 0;">Active Brokers</p>
                  <h2 style="color: #fff;font-family: serif;font-weight: 700;">7<span style="color: #ffcc00;">M</span>
                  </h2>
                </div>
                <div style="padding-left: 20px;">
                  <p class="popins" style="color: #fff;margin: 0;">Active Clients</p>
                  <h2 style="color: #fff;font-family: serif;font-weight: 700;">20<span style="color: #ffcc00;">M</span>
                  </h2>
                </div>
              </div>

              <div class="readmore-btn mt-5">
                <button>Read more <i class="fi fi-rr-arrow-small-right"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="feedback-section">
    <div class="container">
      <div class="row" style="padding-top: 70px;">
        <div class="col-sm-6">
          <div style="position: relative;">
            <img
              src="https://images.unsplash.com/photo-1520333789090-1afc82db536a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzF8fGdpcmxzJTIwaW4lMjBvZmZpY2V8ZW58MHx8MHx8fDA%3D"
              alt="">

          </div>
        </div>
        <div class="col-sm-6">
          <div>
            <h2 class="cfeed" style="font-size: 48px;">
              Customer Feedback That <br> Makes Us Proud
            </h2>
          </div>
          <div class="star mb-4" style="display: flex;align-items: center;gap: 10px;padding-top: 30px;">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
          </div>
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (afterChange)="checkCarouselPosition($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
              <p class="popins">{{slide.m1}}</p>
              <h5>{{slide.name}}</h5>
              <p>{{slide.position}}</p>
            </div>
          </ngx-slick-carousel>

          <div class="slick-btn">
            <div class="btn" (click)="slickPrev()" [class.disabled]="isAtStart">
              <i class="fi fi-rr-arrow-small-left"></i>
            </div>
            <div class="btn" (click)="slickNext()" [class.disabled]="isAtEnd">
              <i class="fi fi-rr-arrow-small-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- <div class="container text-center my-5">
  <h2 class="section-title">How to get <span class="highlight-text">support</span></h2>
  <p class="section-subtitle">Our goal is to power you, wherever you may be.</p>

  <div class="row mt-5">
    <div *ngFor="let step of supportSteps" class="col-md-3 col-sm-6">
      <div class="support-card" style="position: relative;">
        <div [ngStyle]="{'border': step.bordercolor}"
          style="position: relative; margin: auto; border-radius: 50%;height: 150px;width: 150px;display: flex;align-items: center;justify-content: center;">
          <div class="icon-container" [ngStyle]="{'background-color': step.bg}">
            <i [class]="step.icon" [ngStyle]="{'color': step.color}"
              style="position: absolute;bottom: -30%;left: 30%;z-index: 10;font-size: 30px;"></i>
            <div style="position: absolute;height: 20px;width: 20px;background-color: #fff;border-radius: 50%;left: 50%;
            top: 52%;
            transform: translate(-50%, -50%);">

            </div>
          </div>
          <div [ngStyle]="{'border': step.bcolor}"
            style="position: absolute;height: 8px;width: 8px;border-radius: 50%;left: 2%;top: 25%;">

          </div>
        </div>
        <h5 class="card-title popins">{{ step.title }}</h5>
        <p class="card-text popins">{{ step.description }}</p>
        <div class="dotted" style="display: flex;align-items: center;gap: 5px;position: absolute;top: 40%;right: -9%;">
          <div style="height: 5px;width: 5px;border-radius: 50%;background-color: #ccc;"></div>
          <div style="height: 8px;width: 8px;border-radius: 50%;background-color: #ccc;"></div>
          <div style="height: 5px;width: 5px;border-radius: 50%;background-color: #ccc;"></div>
        </div>
      </div>
    </div>
  </div>
</div> -->