<section id="blog"
  style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../../../assets/images/background-gradient-lights.jpg'); height: auto; padding: 120px; background-repeat: no-repeat; background-size: cover;">
  <h1 class="popins" style="font-size: 50px; text-align: center; text-wrap: balance;color: #fff;">Hey, I'm Ayesha. See
    my
    thoughts, stories, and ideas.</h1>
  <p class="popins" style="font-size: 14px; text-align: center; color: #ccc;">This is a minimal multipurpose blog. A
    beautiful way to share stories with your growing audience.</p>
</section>


<div style="text-align: center; margin-top: 80px;">

  <h1 style="font-size: 40px;" class="popins">My Blog</h1>
  <br><br>
  <img class="animated-img"
    src="https://thumbs.dreamstime.com/b/lovely-charming-vintagestyle-alarm-clock-displaying-coming-soon-text-making-ideal-website-announcements-teasing-339515783.jpg"
    alt="" style="width: 250px;border-radius: 10px;">
</div>