<br><br>
<footer class="footer-container">
  <div class="footer-content container">
    <div class="row">
      <div class="col-sm-3">
        <div class="footer-logo">
          <img src="../../../assets/images/logo3.png" alt="" style="width: 75px;">
          <p class="popins" style="font-weight: 300;">
            BrokR sounds like it could be related to brokerage services or financial exploration. If you're looking for
            ideas or information for BrokR.
          </p>
          <div class="social-icons">
            <i class="fi fi-brands-twitter-alt"></i>
            <i class="fi fi-brands-facebook"></i>
            <i class="fi fi-brands-telegram"></i>
            <i class="fi fi-brands-instagram"></i>
            <i class="fi fi-brands-linkedin"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="footer-links">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Broker Comparison</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="footer-contact">
          <h3>Contact</h3>
          <p><i class="fi fi-tr-phone-call"></i> (316) 555-0116</p>
          <p><i class="fi fi-tr-envelope-open"></i> info&#64;brokr.com</p>
          <p><i class="fi fi-tr-marker"></i> 123 Main Street, City, Country</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="footer-newsletter">
          <h3>Newsletter</h3>
          <p>Subscribe to our newsletter to get our latest updates & news</p>
          <form style="position: relative;">
            <input type="email" placeholder="Email Address" />
            <button type="submit"><i class="fi fi-rr-paper-plane-top"></i></button>
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="footer-bottom container">
    <div style="display: flex;justify-content: space-between;border-top: 1px solid rgba(223,224,226,0.1);padding: 20px 0;">
      <p>Copyright © 2024 <span style="color: #ff9900;">Fi&ds</span> . All rights reserved.
      </p>
      <div class="footer-bottom-links">
        <a href="#">Help & Support</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
      </div>
    </div>
  </div>
</footer>